.summernote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notice-tit {
    width: 800px;
    margin-top: 50px;
}
.form-div{
    /*max-height: 600px;*/
}
.msg {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.chk {
    text-align: right;
    padding-right: 10px;
}