<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="mypage_menu" th:with="url = ${#strings.arraySplit(#httpServletRequest.requestURI, '/')}">
    <div class="fc">
        <h4 class="bbgrey pb15">마이 페이지</h4>
        <div class="ui vertical text menu">
            <div class="header item">쇼핑 정보</div>
            <a class="item fs12 pl10" th:href="@{/mypage/orderlist}" th:classappend="${url[1]} == 'orderlist' ? 'active' : ''">
                - 주문목록
            </a>
            <a class="item fs12 pl10" th:href="@{/mypage/cancellist}" th:classappend="${url[1]} == 'cancellist' ? 'active' : ''">
                - 취소/반품 내역
            </a>
            <a class="item fs12 pl10">
                - 적립금 내역
            </a>
            <a class="item fs12 pl10">
                - 좋아요한 상품
            </a>
        </div>
        <div class="ui vertical text menu">
            <div class="header item">회원 정보</div>
            <a class="item fs12 pl10" th:href="@{/mypage/changeinfo/conf}" th:classappend="${url[1]} == 'changeinfo' ? 'active' : ''">
                - 회원정보 변경
            </a>
            <a class="item fs12 pl10">
                - 회원 탈퇴
            </a>
            <a class="item fs12 pl10">
                - 배송지 관리
            </a>
        </div>
    </div>
</th:block>

</html>