<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/notice/notice.js}"></script>
    <title>aocument</title>
</head>

<body>
<th:block layout:fragment="content">
    <div class="ui left aligned container mt50 detail-page">
        <a class="mb30" th:href="@{/notice/list/#}"><h3>공지사항</h3></a>
        <div class="article mt30">
            <div class="title fs14" th:text="${data.title}"></div>
            <div class="info">
                <div class="fs12"><b th:text="${data.writerNm}"></b></div>
                <div class="fs11 fr1">2022.02.04 15:27:55</div>
                <div class="fs12"><b>조회수</b> <span th:text="${data.hits}"></span></div>
            </div>
            <div class="fs12 content" th:utext="${data.ctnt}"></div>
            <div class="fr">
                <a th:href="@{/notice/list/#}"><button class="ui basic mini button mt15">목록</button></a>
            </div>
        </div>
    </div>
</th:block>
</body>

</html>