<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/common.css">
    <link rel="stylesheet" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/main.css">
    <title>aocument</title>
</head>

<body>

    <head>
        <div class="ui tiny action input headerSearch">
            <input type="text" placeholder="제품 검색" class="w200">
            <button class="ui tiny secondary icon button">
                <i class="search icon"></i>
            </button>
        </div>
        <div class="fc">
            <div class="ui right aligned container h37">
                <button class="tiny ui button bgwhite h100p">로그인</button>
                <button class="tiny ui button bgwhite">회원가입</button>
                <button class="tiny ui button bgwhite">장바구니</button>
                <button class="tiny ui button bgwhite">마이페이지</button>
            </div>
            <div class="ct h122 btgrey">
                <h1>fitBook</h1>
            </div>
            <div class="ui center aligned container h42">
                <button class="medium ui button bgwhite mlr30 h100p">HOME</button>
                <button class="medium ui button bgwhite mlr30">NEW</button>
                <button class="medium ui button bgwhite mlr30">BEST</button>
                <button class="medium ui button bgwhite mlr30">SHOP</button>
                <button class="medium ui button bgwhite mlr30">FIT!</button>
                <button class="medium ui button bgwhite mlr30">NOTICE</button>
            </div>
        </div>
    </head>
    <main class="btgrey">
        <div class="ui center aligned container mt50">
            <h3 class="mb30">나에게 맞는 노트북 찾기</h3>
            <div class="q1 mt50">
                <h5>내가 생각하고 있는 노트북의 가격대를 적어주세요.</h5>
                <div class="ui tiny action input mt30">
                    <input type="text" placeholder="원" class="w200">
                    <button class="ui tiny secondary button" id="q1NextBtn">입력</button>
                </div>
            </div>
            <div class="q2 mt50 disnone">
                <h5>내가 노트북을 사용할 주 목적을 골라주세요.</h5>
                <div><button class="ui basic tiny button w300 q2NextBtn">사무, 문서 편집, 인터넷 강의 시청 등 간단한 용도</button></div>
                <div><button class="ui basic tiny button w300 mt5 q2NextBtn">간단한 게임, 고화질 영화 감상 등의 일반적인 용도</button></div>
                <div><button class="ui basic tiny button w300 mt5 q2NextBtn">고사양 게임, 3D 영상 작업 등의 무거운 용도</button></div>
                <div><button class="ui basic tiny button mt30 rewBtn">처음부터</button></div>
            </div>
            <div class="q3 mt50 disnone">
                <h5>내가 주로 사용하는 프로그램을 골라주세요.</h5>
                <div class="mct w60p">
                    <div class="ui fluid multiple tiny search selection dropdown">
                        <input type="hidden" name="country">
                        <i class="dropdown icon"></i>
                        <div class="default text">검색</div>
                        <div class="menu">
                            <div class="item" data-value="phptoshop">
                                <img src="https://w7.pngwing.com/pngs/657/442/png-transparent-adobe-brand-brands-logo-logos-photoshop-logos-brands-icon-thumbnail.png"></img>
                                Adobe Photoshop
                            </div>
                            <div class="item" data-value="intellij">
                                <img src="//upload.wikimedia.org/wikipedia/commons/thumb/archive/9/9c/20200803071015%21IntelliJ_IDEA_Icon.svg/120px-IntelliJ_IDEA_Icon.svg.png"></img>
                                IntelliJ IDEA
                            </div>
                            <div class="item" data-value="lol">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/LoL_icon.svg/256px-LoL_icon.svg.png"></img>
                                League of Legends
                            </div>
                        </div>
                    </div>
                    <div class="mt20">
                        <div class="ui basic tiny button">처음으로</div>
                        <div class="ui secondary tiny button" id="q3NextBtn">다음</div>
                    </div>
                </div>
            </div>
            <div class="result">
                <h5>분석 결과 나에게 맞는 상품들이에요.</h5>
            </div>
        </div>
    </main>
    <footer class="btgrey mt100">
        <div class="ui vertical footer padded segment">
            <div class="ui left aligned container fs12">
                <p>fitBook</p>
                <p>Kim Min-jae, Kim Gyu-Hyeongm, Kim Dong-gyu, Yu Eon-su</p>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>
<script src="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/semantic/dist/semantic.min.js"></script>
<script src="fit.js"></script>