<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="main.css">
    <title>aocument</title>
</head>

<body>

    <head>
        <div class="fc">
            <div class="ui right aligned container h37">
                <button class="tiny ui button bgwhite h100p">로그인</button>
                <button class="tiny ui button bgwhite">회원가입</button>
                <button class="tiny ui button bgwhite">장바구니</button>
                <button class="tiny ui button bgwhite">마이페이지</button>
                <button class="tiny ui button bgwhite">고객센터</button>
            </div>
            <div class="ct h122 btgrey">
                <h1>fitBook</h1>
            </div>
            <div class="ui center aligned container h42">
                <button class="medium ui button bgwhite mlr30 h100p">HOME</button>
                <button class="medium ui button bgwhite mlr30">NEW</button>
                <button class="medium ui button bgwhite mlr30">BEST</button>
                <button class="medium ui button bgwhite mlr30">SHOP</button>
                <button class="medium ui button bgwhite mlr30">FIT!</button>
            </div>
        </div>
    </head>
    <main class="btgrey">
        <div class="ui left aligned container mt50">
            <div class="frow gap50">
                <div class="fc">
                    <h4 class="bbgrey pb15">마이 페이지</h4>
                    <div class="ui vertical text menu">
                        <div class="header item">쇼핑 정보</div>
                        <a class="item fs12 pl10">
                            - 주문목록
                        </a>
                        <a class="item fs12 pl10">
                            - 취소/반품 내역
                        </a>
                        <a class="item fs12 pl10">
                            - 적립금 내역
                        </a>
                        <a class="item fs12 pl10">
                            - 좋아요한 상품
                        </a>
                    </div>
                    <div class="ui vertical text menu">
                        <div class="header item">회원 정보</div>
                        <a class="active item fs12 pl10">
                            - 회원정보 변경
                        </a>
                        <a class="item fs12 pl10">
                            - 회원 탈퇴
                        </a>
                        <a class="item fs12 pl10">
                            - 배송지 관리
                        </a>
                    </div>
                </div>
                <div class="fr1">
                    <h3>회원 정보 변경</h3>
                    <div class="mt30">
                        <div class="tact">
                        <div class="ui compact message">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 입력해주세요.</div>
                    </div>
                        <div class="w500 mct">
                            <form class="ui tiny form mb10 mt30">
                                <div class="field">
                                    <label>아이디</label>
                                    songbiz
                                </div>
                                <div class="field">
                                    <label>비밀번호</label>
                                    <input type="password" name="upw" placeholder="비밀번호">
                                </div>
                                <button class="ui secondary tiny fluid button" id="loginBtn">인증</button>
                            </form>
                        </div>
                </div>
                </div>
            </div>
    </main>
    <footer class="btgrey mt100">
        <div class="ui vertical footer padded segment">
            <div class="ui left aligned container fs12">
                <p>fitBook</p>
                <p>Kim Min-jae, Kim Gyu-Hyeongm Kim Dong-gyu, Yu Eon-su</p>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>
<script src="semantic/dist/semantic.min.js"></script>
<script src="mypage.js"></script>