<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/common.css">
    <link rel="stylesheet" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/main.css">
    <title>aocument</title>
</head>

<body>

    <head>
        <div class="fc">
            <div class="ui right aligned container h37">
                <button class="tiny ui button bgwhite h100p">로그인</button>
                <button class="tiny ui button bgwhite">회원가입</button>
                <button class="tiny ui button bgwhite">장바구니</button>
                <button class="tiny ui button bgwhite">마이페이지</button>
                <button class="tiny ui button bgwhite">고객센터</button>
            </div>
            <div class="ct h122 btgrey">
                <h1>fitBook</h1>
            </div>
            <div class="ui center aligned container h42">
                <button class="medium ui button bgwhite mlr30 h100p">HOME</button>
                <button class="medium ui button bgwhite mlr30">NEW</button>
                <button class="medium ui button bgwhite mlr30">BEST</button>
                <button class="medium ui button bgwhite mlr30">SHOP</button>
                <button class="medium ui button bgwhite mlr30">FIT!</button>
            </div>
        </div>
    </head>
    <main class="btgrey">
        <div class="ui left aligned container mt50">
            <div class="frow gap50">
                <div class="fc">
                    <h4 class="bbgrey pb15">마이 페이지</h4>
                    <div class="ui vertical text menu">
                        <div class="header item">쇼핑 정보</div>
                        <a class="item fs12 pl10">
                            - 주문목록
                        </a>
                        <a class="item fs12 pl10">
                            - 취소/반품 내역
                        </a>
                        <a class="item fs12 pl10">
                            - 적립금 내역
                        </a>
                        <a class="active item fs12 pl10">
                            - 좋아요한 상품
                        </a>
                    </div>
                    <div class="ui vertical text menu">
                        <div class="header item">회원 정보</div>
                        <a class="item fs12 pl10">
                            - 회원정보 변경
                        </a>
                        <a class="item fs12 pl10">
                            - 회원 탈퇴
                        </a>
                        <a class="item fs12 pl10">
                            - 배송지 관리
                        </a>
                    </div>
                </div>
                <div class="fr1">
                    <h3>좋아요한 상품</h3>
                    <table class="mytable w100p mt30">
                        <colgroup>
                            <col width="5%">
                            <col width="40%">
                            <col width="10%">
                            <col width="15%">
                            <col width="15%">
                        </colgroup>
                        <tr>
                            <th><div class="ui checkbox"><input type="checkbox"><label></label></div></th>
                            <th>상품 정보</th>
                            <th>상품 금액</th>
                            <th>할인/적립</th>
                            <th>결제 금액</th>
                        </tr>
                        <tr>
                            <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                            <td>
                                <div class="fr w100p ct gap20">
                                    <img src="http://img.danawa.com/prod_img/500000/474/706/img/13706474_1.jpg?shrink=330:330&_v=20211210141001"
                                        width="100px" height="100px">
                                    <div class="taleft">
                                        <div class="mb5">삼성전자 노트북 플러스2</div>
                                        <div class="mb5">NT550XDA-K14AW</div>
                                        <div class="c777777">옵션 : SSD 128GB</div>
                                    </div>
                                </div>
                            </td>
                            <td><b>1,200,000원</b></td>
                            <td><b>-72,000원</b><br>(1,200원 적립 예정)</td>
                            <td><b>1,128,000원</b></td>
                        </tr>
                        <tr>
                            <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                            <td>
                                <div class="fr w100p ct gap20">
                                    <img src="https://shop1.daumcdn.net/thumb/R500x500/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FW14139414164.jpg%3Fut%3D20210727135851"
                                        width="100px" height="100px">
                                    <div class="taleft">
                                        <div class="mb5">LG전자 2012 그램14</div>
                                        <div class="mb5">14ZD90P-GX50K</div>
                                        <div class="c777777">옵션 : SSD 256GB</div>
                                    </div>
                                </div>
                            </td>
                            <td><b>1,288,980원</b></td>
                            <td><b>-72,000원</b><br>(1,500원 적립 예정)</td>
                            <td><b>1,198,000원</b></td>
                        </tr>
                    </table>
                    <div>
                    <button class="ui mini basic button mt10 ml10">선택 상품 삭제</button>
                    <button class="ui mini basic button mt10">선택 상품 장바구니 담기</button>
                </div>
            </div>
    </main>
    <footer class="btgrey mt100">
        <div class="ui vertical footer padded segment">
            <div class="ui left aligned container fs12">
                <p>fitBook</p>
                <p>Kim Min-jae, Kim Gyu-Hyeongm Kim Dong-gyu, Yu Eon-su</p>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>
<script src="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/semantic/dist/semantic.min.js"></script>
<script src="mypage.js"></script>