<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="main.css">
    <title>aocument</title>
</head>

<body>

    <head>
        <div class="fc">
            <div class="ui right aligned container h37">
                <button class="tiny ui button bgwhite h100p">로그인</button>
                <button class="tiny ui button bgwhite">회원가입</button>
                <button class="tiny ui button bgwhite">장바구니</button>
                <button class="tiny ui button bgwhite">마이페이지</button>
                <button class="tiny ui button bgwhite">고객센터</button>
            </div>
            <div class="ct h122 btgrey">
                <h1>fitBook</h1>
            </div>
            <div class="ui center aligned container h42">
                <button class="medium ui button bgwhite mlr30 h100p">HOME</button>
                <button class="medium ui button bgwhite mlr30">NEW</button>
                <button class="medium ui button bgwhite mlr30">BEST</button>
                <button class="medium ui button bgwhite mlr30">SHOP</button>
                <button class="medium ui button bgwhite mlr30">FIT!</button>
            </div>
        </div>
    </head>
    <main class="btgrey">
        <div class="ui left aligned container mt50">
            <div class="frow gap50">
                <div class="fc">
                    <h4 class="bbgrey pb15">마이 페이지</h4>
                    <div class="ui vertical text menu">
                        <div class="header item">쇼핑 정보</div>
                        <a class="item fs12 pl10">
                            - 주문목록
                        </a>
                        <a class="item fs12 pl10">
                            - 취소/반품 내역
                        </a>
                        <a class="active item fs12 pl10">
                            - 적립금 내역
                        </a>
                        <a class="item fs12 pl10">
                            - 좋아요한 상품
                        </a>
                    </div>
                    <div class="ui vertical text menu">
                        <div class="header item">회원 정보</div>
                        <a class="item fs12 pl10">
                            - 회원정보 변경
                        </a>
                        <a class="item fs12 pl10">
                            - 회원 탈퇴
                        </a>
                        <a class="item fs12 pl10">
                            - 배송지 관리
                        </a>
                    </div>
                </div>
                <div class="fr1">
                    <h3>적립금 내역</h3>
                    <table class="mytable w100p mt50">
                        <colgroup>
                            <col width="50%">
                            <col width="20%">
                            <col width="30%">
                        </colgroup>
                        <tr>
                            <th>변동 사유</th>
                            <th>금액</th>
                            <th>일자</th>
                        </tr>
                        <tr>
                            <td>상품 구매 적립</td>
                            <td>+4,000</td>
                            <td>2021-5-19</td>
                        </tr>
                        <tr>
                            <td>상품 구매 적립</td>
                            <td>+6,000</td>
                            <td>2021-5-25</td>
                        </tr>
                        <tr>
                            <td>상품 구매 사용</td>
                            <td>-10,000</td>
                            <td>2021-8-20</td>
                        </tr>
                    </table>
                </div>
            </div>
    </main>
    <footer class="btgrey mt100">
        <div class="ui vertical footer padded segment">
            <div class="ui left aligned container fs12">
                <p>fitBook</p>
                <p>Kim Min-jae, Kim Gyu-Hyeongm Kim Dong-gyu, Yu Eon-su</p>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>
<script src="semantic/dist/semantic.min.js"></script>
<script src="mypage.js"></script>