<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/common.css">
    <link rel="stylesheet" href="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/main.css">
    <title>aocument</title>
</head>

<body>
    <head>
        <div class="ui tiny action input headerSearch">
            <input type="text" placeholder="제품 검색" class="w200">
            <button class="ui tiny secondary icon button">
              <i class="search icon"></i>
            </button>
          </div>
        <div class="fc">
            <div class="ui right aligned container h37">
                <button class="tiny ui button bgwhite h100p">로그인</button>
                <button class="tiny ui button bgwhite">회원가입</button>
                <button class="tiny ui button bgwhite">장바구니</button>
                <button class="tiny ui button bgwhite">마이페이지</button>
            </div>
            <div class="ct h122 btgrey">
                <h1>fitBook</h1>
            </div>
            <div class="ui center aligned container h42">
                <button class="medium ui button bgwhite mlr30 h100p">HOME</button>
                <button class="medium ui button bgwhite mlr30">NEW</button>
                <button class="medium ui button bgwhite mlr30">BEST</button>
                <button class="medium ui button bgwhite mlr30">SHOP</button>
                <button class="medium ui button bgwhite mlr30">FIT!</button>
                <button class="medium ui button bgwhite mlr30">NOTICE</button>
            </div>
        </div>
    </head>
    <main class="btgrey">
        <div class="ui left aligned container mt50">
            <h3 class="mb30">공지사항</h3>
            <table class="mytable w100p">
                <colgroup>
                    <col width="10%">
                    <col width="50%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                </colgroup>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>작성자</th>
                    <th>조회수</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>테스트입니다.</td>
                    <td>2022.01.27</td>
                    <td>관리자</td>
                    <td>17</td>
                </tr>
            </table>
            <div class="tact">
            <div class="ui pagination tiny menu mt50">
                <a class="active item">
                  1
                </a>
                <a class="item">
                  2
                </a>
                <a class="item">
                  3
                </a>
                <a class="item">
                  4
                </a>
                <a class="item">
                    5
                </a>
              </div>
            </div>
            <div class="tact">
            <div class="ui mini action input mt30">
                <select class="ui mini compact selection dropdown searchselect">
                    <option selected="" value="articles">제목</option>
                    <option value="products">내용</option>
                    <option value="products">작성자</option>
                  </select>
                <input type="text" class="radiusnone w200">
                <div class="ui secondary mini button">검색</div>
              </div>
            </div>
        </div>
    </main>
    <footer class="btgrey mt100">
        <div class="ui vertical footer padded segment">
            <div class="ui left aligned container fs12">
                <p>fitBook</p>
                <p>Kim Min-jae, Kim Gyu-Hyeongm Kim Dong-gyu, Yu Eon-su</p>
            </div>
        </div>
    </footer>
</div>
</body>

</html>
<script src="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/semantic/dist/semantic.min.js"></script>
<script src="../../../../../../../../../../OneDrive/바탕%20화면/fitBook/main.js"></script>