<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/cpu.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script defer th:src="@{/js/admin/cpu.js}"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
    <form method="post" id="cpuFrm" th:action="@{/admin/cpu}">
        <div class="cpu-enrollment-container">
            <div class="cpu">
                <div class="ui right labeled input">
                    <input type="text" class="nm">
                    <div class="ui basic label">
                        CPU 이름
                    </div>
                </div>
                <div class="ui right labeled input">
                    <input type="text" class="performance">
                    <div class="ui basic label">
                        성능수치
                    </div>
                </div>
                <div class="ui right labeled input">
                    <select id="gpuOption" class="ui selection dropdown inner_gpu minw100">
                        <option value="0">선택</option>
                        <th:block th:each="item : ${data}">
                            <option th:value="${item.igpu}" th:text="${item.nm}"></option>
                        </th:block>
                    </select>
                    <input type="text" id="top-innergpu">
                    <div class="ui basic label">
                        내장그래픽 성능수치
                    </div>
                </div>
                <div class="ui right labeled input">
                    <input type="text" class="seq">
                    <div class="ui basic label">
                        세대
                    </div>
                </div>
                <div class="ui right labeled input">
                    <input type="text" class="brand">
                    <div class="ui basic label">
                        브랜드
                    </div>
                </div>
            </div>
        </div>
        <div class="utils-container">
            <input type="submit" class="ui inverted secondary button" value="등록" id="frmBtn">
            <input type="button" class="ui inverted blue button" value="추가하기" id="addBtn">
        </div>
    </form>
</th:block>