<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/cpu.css}">
    <script defer th:src="@{/js/admin/cpu.js}"></script>
    <script src="https://kit.fontawesome.com/898372a0bd.js" crossorigin="anonymous"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
    <div class="w100p">
        <div class="cpuListFrm">
            <div class="searchDiv">
                <div class="ui right labeled input">
                    <select id="select" class="ui selection dropdown minw100">
                        <option value="nm">CPU명</option>
                        <option value="brand">브랜드</option>
                    </select>
                    <div class="ui input">
                        <input type="text" id="searchText" placeholder="Search...">
                    </div>
                </div>
                <div class="frow gap10 mct-0">
                    <i class="fa-solid fa-angle-down" id="seq">세대</i>
                    <i class="fa-solid fa-angle-down" id="perf">성능수치</i>
                    <i class="fa-solid fa-angle-down" id="inner_perf">내장그래픽 성능수치</i>
                </div>
            </div>
        </div>

        <div class="w100p minh400">
            <table class="mytable w100p">
                <thead>
                <tr>
                    <th>CPU명</th>
                    <th>성능수치</th>
                    <th>내장그래픽 성능수치</th>
                    <th>세대</th>
                    <th>브랜드</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tact w100p">
            <div class="ui pagination tiny menu mt50"></div>
        </div>
    </div>
</th:block>