<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <script defer th:src="@{/js/admin/gpu.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin/gpu.css}">
    <title></title>
</head>

<th:block layout:fragment="content">
    <form method="post" class="table-column" id="gpuFrm" th:action="@{/admin/gpu}">
        <div class="gpu-enrollment-container">
            <div class="gpu">
                <div class="ui right labeled input">
                    <input type="text" class="nm">
                    <div class="ui basic label">
                        GPU 이름
                    </div>
                </div>
                <div class="ui right labeled input">
                    <input type="text" class="performance">
                    <div class="ui basic label">
                        성능수치
                    </div>
                </div>
                <div class="ui right labeled input">
                    <input type="text" class="seq">
                    <div class="ui basic label">
                        세대
                    </div>
                </div>
                <div class="ui right labeled input">
                    <input type="text" class="brand">
                    <div class="ui basic label">
                        브랜드
                    </div>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" class="is_inner_gpu" value="Y">
                    <label>내장그래픽</label>
                </div>
            </div>
        </div>
        <div class="utils-container">
            <input type="submit" class="ui inverted secondary button" value="등록" id="frmBtn">
            <input type="button" class="ui inverted blue button" value="추가하기" id="addBtn">
        </div>
    </form>
</th:block>