<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/product.css}">
    <script defer th:src="@{/js/admin/product.js}"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
    <form id="frm" method="post" th:action="@{/admin/insproduct}" enctype="multipart/form-data" class="adm-con01">
        <div class="frmDiv ins-product">
            <div class="inv-box">
                <div class="inv-name">
                    <span>상품명</span>
                    <span>:</span>
                </div>
                <input type="text" name="nm" placeholder="상품명" class="nm">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>상품코드 : </span>
                </div>
                <input type="text" name="product_code" placeholder="상품코드" class="code">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>출시일자</span>
                    <span>:</span>
                </div>
                <input type="date" name="rdt" class="rdt">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>CPU</span>
                    <span>:</span>
                </div>
                <select name="icpu" class="icpu">
                    <th:block th:each="cpu : ${cpuData}">
                        <option th:value="${cpu.icpu}" th:text="${cpu.nm}"></option>
                    </th:block>
                </select>
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>GPU</span>
                    <span>:</span>
                </div>
                <select name="igpu" class="igpu">
                    <th:block th:each="gpu : ${gpuData}">
                        <option th:value="${gpu.igpu}" th:text="${gpu.nm}"></option>
                    </th:block>
                </select>
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>내장그래픽</span>
                    <span>:</span>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="is_inner_gpu" class="is_inner_gpu" value="Y">
                    <label></label>
                </div>
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>RAM 용량</span>
                    <span>:</span>
                </div>
                <input type="text" name="ram" placeholder="RAM 용량" class="ram">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>사이즈</span>
                    <span>:</span>
                </div>
                <input type="text" name="size" placeholder="사이즈" class="size">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>무게</span>
                    <span>:</span>
                </div>
                <input type="text" name="weight" placeholder="무게" class="weight">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>맥북</span>
                    <span>:</span>
                </div>
                <div class="ui toggle checkbox" id="macDiv">
                    <input type="checkbox" id="mac">
                    <label></label>
                </div>
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>브랜드</span>
                    <span>:</span>
                </div>
                <input type="text" name="brand" placeholder="브랜드" class="brand">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>OS</span>
                    <span>:</span>
                </div>
                <select name="os" class="os">
                    <option value="Window 11">Window 11</option>
                    <option value="Window 10">Window 10</option>
                    <option value="FreeDOS">FreeDOS</option>
                </select>
            </div>
<!--     =========================================       -->
            <div class="inv-box">
                <div class="inv-name">
                    <span>배터리</span>
                    <span>:</span>
                </div>
                <input type="text" name="battery" class="battery" placeholder="배터리">
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>360도</span>
                    <span>:</span>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="istwoinone" class="istwoinone" value="Y">
                    <label></label>
                </div>
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>주사율</span>
                    <span>:</span>
                </div>
                <select name="hz" class="hz">
                    <option value="60">60hz</option>
                    <option value="120">120hz</option>
                    <option value="144">144hz</option>
                    <option value="165">165hz</option>
                    <option value="240">240hz</option>
                </select>
            </div>
            <div class="inv-box">
                <div class="inv-name">
                    <span>해상도</span>
                    <span>:</span>
                </div>
                <select name="resolution" class="resolution">
                    <option value="1366x768">1366x768</option>
                    <option value="1920x1080(FHD)">1920x1080(FHD)</option>
                    <option value="1920x1200(WUXGA)">1920x1200(WUXGA)</option>
                    <option value="2560x1440(QHD)">2560x1440(QHD)</option>
                    <option value="2560x1600(WQXGA)">2560x1600(WQXGA)</option>
                    <option value="3840x2160(4K UHD)">3840x2160(4K UHD)</option>
                </select>
            </div>
<!--       ==============================================================     -->
            <div id="repre-div">
                <div class="inv-name">
                    <span>이미지</span>
                    <span>:</span>
                </div>
                <div class="inv-btm">
                    <div class="file-area">
                        <input type="file" name="mfFile" id="mfFile" class="img">
                    </div>
                    <div class="file-set">
                        <input type="button" name="mfFile" class="ui inverted red button file-remove-button" value="파일초기화">
                    </div>
                </div>
            </div>
        </div>
        <div id="detail-list-container">
            <h3>대표상품섹션</h3>
            <div id="ins-before-div">

            </div>
        </div>
        <div class="utils-container">
            <input type="submit" class="ui inverted secondary button" value="등록" id="submitBtn">
            <button id="add-detail-btn" class="ui inverted blue button button-mg-reset">추가하기</button>
        </div>
    </form>
</th:block>