<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/temp/admin_page_layout">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer th:src="@{/js/admin/main.js}"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
    <div>
        <div class="w100p">
            <canvas id="monthChart"></canvas>
        </div>
        <div>
            <canvas id="brandDemand"></canvas>
            <canvas id="thisMonthChart"></canvas>
        </div>
    </div>
</th:block>