<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/temp/admin_page_layout">
<head>
    <script defer th:src="@{/js/admin/order.js}"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
    <table class="mytable w100p">
        <thead>
            <tr>
                <th>상픔번호</th>
                <th>상품이름</th>
                <th>주문일시</th>
                <th>이름/아이디</th>
                <th>사용한 포인트</th>
                <th>결제수단</th>
                <th>주문상태</th>
                <th>가격</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</th:block>