<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/order.css}">
    <script defer th:src="@{/js/admin/order.js}"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
            <div class="selectkinds w100p">
                <div class="frow gap30 mb30">
                    <div class="frow gap50">
                        <div class="frow gap30">
                            <h5>검색어</h5>
                            <select id="select">
                                <option value="total">전체</option>
                                <option value="B.nm">회원명</option>
                                <option value="B.uid">아이디</option>
                            </select>
                            <input type="text" id="search" name="text" placeholder="검색어 입력">
                        </div>
                        <div class="frow gap30">
                            <h5>주문상태</h5>
                            <select id="status">
                                <option value="전체선택-1" checked>전체선택</option>
                                <option value="입금대기-2">입금대기</option>
                                <option value="배송중-3">배송중</option>
                                <option value="배송완료-4">배송완료</option>
                                <option value="구매확정-5">구매확정</option>
                                <option value="취소완료-6">취소완료</option>
                                <option value="환불신청-7">환불신청</option>
                                <option value="환불완료-8">환불완료</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mybox">
                    <div class="ui mini compact menu ib mr10" id="dateBtns">
                        <a class="link item" id="todayBtn">
                            오늘
                        </a>
                        <a class="item active" id="weekBtn">
                            7일
                        </a>
                        <a class="link item" id="fifteenDayBtn">
                            15일
                        </a>
                        <a class="link item" id="monthBtn">
                            1개월
                        </a>
                        <a class="link item" id="threeMonthBtn">
                            3개월
                        </a>
                        <a class="link item" id="yearBtn">
                            1년
                        </a>
                    </div>
                    <div class="ui tiny form ib w250">
                        <div class="two fields">
                            <div class="field">
                                <div class="ui calendar" id="rangestart">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" id="fst-date" name="date" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="mct fs12">~</div>
                            <div class="field">
                                <div class="ui calendar" id="rangeend">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" id="sec-date" name="date" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="ui secondary tiny button ml10" id="orderSearchBtn">
                        조회
                        <i class="ml5 mr0 search icon"></i>
                    </button>

                </div>
                    <table class="mytable w100p">
                        <colgroup>
                            <col width="18%">
                            <col width="15%">
                            <col width="13%">
                            <col width="14%">
                            <col width="10%">
                            <col width="13%">
                            <col width="3%">
                            <col width="25%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>날짜/주문번호</th>
                            <th>상품명</th>
                            <th>아이디/이름</th>
                            <th>포인트사용</th>
                            <th>결제수단</th>
                            <th>주문상태</th>
                            <th>가격</th>
                            <th>취소일시</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
<!--                </div>-->
                <div class="tact w100p">
                    <div class="ui pagination tiny menu mt50" id="searchPagination"></div>
                </div>
            </div>
</th:block>