<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/temp/admin_page_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/product_master.css}">
    <script defer th:src="@{/js/admin/product_detail.js}"></script>
    <script defer th:src="@{/js/main.js}"></script>
    <title>상세페이지</title>
</head>

<th:block layout:fragment="content">
    <div class="product-detail w110p">
        <div>
            <table class="mytable w110p">
                <thead>
                <tr>
                    <th>상픔번호</th>
                    <th>주문일시</th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>사용한 포인트</th>
                    <th>결제수단</th>
                    <th>주문상태</th>
                    <th>가격</th>
                    <th>취소일시</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</th:block>