<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/program.css}">
    <script defer th:src="@{/js/admin/program.js}"></script>
    <script src="https://kit.fontawesome.com/898372a0bd.js" crossorigin="anonymous"></script>
    <title></title>
</head>

<th:block layout:fragment="content">
    <div class="w100p">
        <div class="programListFrm">
            <div class="searchDiv">
                <div>
                    <input type="search" placeholder="검색" id="searchText">
                    <input type="button" value="검색" id="searchBtn">
                </div>
                <div class="frow gap10">
                    <i class="fa-solid fa-angle-down" id="required_cpu">CPU성능수치</i>
                    <i class="fa-solid fa-angle-down" id="required_gpu">GPU성능수치</i>
                    <i class="fa-solid fa-angle-down" id="required_ram">RAM성능수치</i>
                </div>
            </div>
        </div>

        <div class="w100p">
            <table class="mytable w100p">
                <thead>
                <tr>
                    <th>이미지</th>
                    <th>게임명</th>
                    <th>CPU 성능수치</th>
                    <th>GPU 성능수치</th>
                    <th>RAM 성능수치</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</th:block>