<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/admin/qna.css}">
    <script defer th:src="@{/js/admin/qna.js}"></script>
    <script src="https://kit.fontawesome.com/898372a0bd.js" crossorigin="anonymous"></script>
    <title>fitBook</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="w100p qna-list">
        <div class="w100p">
            <div class="mb10 frow jcright gap30 seq ">
                <div>
                    <select id="select" name="select" class="ui selection dropdown">
                        <option checked value="1">전체</option>
                        <option value="2">리뷰 작성해야 함</option>
                    </select>
                </div>
                <div>
                    <button class="btn-none">
                        <i class="cspointer fa-solid fa-angle-down hvcgray" id="rdt">날짜순</i>
                    </button>
    <!--                <button class="btn-none"> (%%% 다른것도 컬럼명 id랑 맞추면 추가 가능 함 %%%-->
    <!--                    <i class="cspointer fa-solid fa-angle-down hvcgray" id="iquestion">테스트</i>-->
    <!--                </button> -->
                    <span class="pr10 pl10">|</span>
                    <span id="cnt-con"></span>
                </div>
            </div>
            <div class="minh400">
                <table class="mytable w100p">
                    <colgroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="30%">
                        <col width="10%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>이미지</th>
                        <th>상품명/상품코드</th>
                        <th>내용</th>
                        <th>회원</th>
                        <th>작성날짜</th>
                        <th>댓글</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="tact w100p">
            <div class="ui pagination tiny menu mt50"></div>
        </div>
    </div>
</th:block>
</body>
</html>