<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/admin_page_layout">
<head>
    <meta charset="UTF-8">
    <title>회원관리</title>
<!--    <script defer th:src="@{/js/admin/user.js}"></script>-->
</head>

<th:block layout:fragment="content">
    <div class="user w110p" th:with="keyword=${param.keyword}">
        <form class="search_form" th:action="@{/admin/user}" method="post">
            <select name="type" id="type">
                <option value="nm">이름</option>
                <option value="uid">아이디</option>
                <option value="email">이메일</option>
            </select>
            </select>
            <input type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="검색">
            <input type="submit" value="검색">
        </form>


        <table class="mytable w100p" id="listTable">
            <thead>
            <tr>
                <th>아이디/이름</th>
                <th>이메일</th>
                <th>최근한달결제금액</th>
                <th>누적결제금액</th>
                <th>최근결제일</th>
                <th>가입일</th>
                <th>포인트</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${data}">
            <tr>
                <td>
                    <p th:text="${item.uid}"></p>
                    <p class="user-nm" th:text="${item.nm}"></p>
                </td>
                <td>
                    <p th:text="${item.email}"></p>
                </td>
                <td>
                    <p th:text="${#numbers.formatInteger(item.recent_price, 0, 'COMMA')} + 원"></p>
                </td>
                <td>
                    <p th:text="${#numbers.formatInteger(item.result_price, 0, 'COMMA')} + 원"></p>
                </td>
                <td>
                    <p th:text="${#strings.substring(item.recent_rdt, 0, 11)}" th:if="${!#strings.isEmpty(item.recent_rdt)}"></p>
                    <p th:if="${#strings.isEmpty(item.recent_rdt)}" th:text="'없음'"></p>
                </td>
                <td>
                    <p th:text="${#strings.substring(item.rdt, 0, 11)}" th:if="${!#strings.isEmpty(item.rdt)}"></p>
                </td>
                <td>
                    <p th:text="${#numbers.formatInteger(item.point, 0, 'COMMA')} + p"></p>
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>
        <th:block th:with="curPage = ${#strings.isEmpty(param.page) ? 1 : param.page}">
        <div class="page-container">
            <div class="tact w100p">
                <div class="ui pagination tiny menu mt50">
                    <th:block th:with="pre=${pageData.getStartPage() != 1 ? pageData.getStartPage()-1 : 1}">
                        <a th:if="${#strings.isEmpty(param.keyword)}" th:href="@{/admin/user?page={page} (page=${pre})}" class="item" th:classappend="${pageData.getStartPage()} == 1 ? 'disabled':''"><i class="angle left icon mr0"></i></a>
                        <a th:if="${!#strings.isEmpty(param.keyword)}" th:href="@{/admin/user?page={page}&keyword={keyword}&type={type} (page=${pre}, keyword=${param.keyword}, type=${param.type})}" class="item" th:classappend="${pageData.getStartPage()} == 1 ? 'disabled':''"><i class="angle left icon mr0"></i></a>
                    </th:block>

                    <th:block th:each="no : ${#numbers.sequence(pageData.getStartPage(), pageData.getLastPage())}">
                        <a th:if="${#strings.isEmpty(param.keyword) && no <= maxPage.getMaxPage()}" th:href="@{/admin/user?page={page} (page=${no})}" class="item" th:text="${no}" th:classappend="${#strings.equals(no, curPage)} ? 'active':''"></a>
                        <a th:if="${!#strings.isEmpty(param.keyword) && no <= maxPage.getMaxPage()}" th:href="@{/admin/user?page={page}&keyword={keyword}&type={type} (page=${no}, keyword=${param.keyword}, type=${param.type})}" class="item" th:text="${no}" th:classappend="${#strings.equals(no, curPage)} ? 'active':''"></a>
                    </th:block>
                    <th:block th:with="next=${pageData.getLastPage() < maxPage.getMaxPage() ? pageData.getLastPage()+1 : maxPage.getMaxPage()}">
                        <a th:if="${#strings.isEmpty(param.keyword)}" th:href="@{/admin/user?page={page} (page=${next})}" class="item" th:classappend="${pageData.getLastPage() >= maxPage.getMaxPage() ? 'disabled' : ''}"><i class="angle right icon mr0"></i></a>
                        <a th:if="${!#strings.isEmpty(param.keyword)}" th:href="@{/admin/user?page={page}&keyword={keyword}&type={type} (page=${next}, keyword=${param.keyword}, type=${param.type})}" class="item" th:classappend="${pageData.getLastPage() >= maxPage.getMaxPage() ? 'disabled' : ''}"><i class="angle right icon mr0"></i></a>
                    </th:block>
                </div>
            </div>
        </div>
        </th:block>
    </div>
</th:block>