<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.order.OrderMapper">

    <select id="selOrderList" resultType="OrderVo">
        SELECT iorder, rdt, order_status, pre_order_status
        FROM t_order
        <if test="param == 'order'">
            WHERE rdt BETWEEN #{fromDate} AND date_add(#{toDate}, interval +1 day)
            AND cdt is null
        </if>
        <if test="param == 'cancel'">
            WHERE cdt BETWEEN #{fromDate} AND date_add(#{toDate}, interval +1 day)
        </if>
        AND iuser = #{iuser}
        ORDER BY iorder DESC
        LIMIT ${startIdx}, ${recordCount}
    </select>

    <select id="selProductDetails" resultType="ProductDetailVo">
        SELECT B.nm, B.product_code, C.color, C.hdd, B.brand,
               C.ssd, C.price, D.quantity, C.img
        FROM t_order A
                 INNER JOIN t_order_product D
                            ON A.iorder = D.iorder
                 INNER JOIN t_product_detail C
                            ON D.idetail = C.idetail
                 INNER JOIN t_product_master B
                            ON C.iproduct = B.iproduct
        WHERE A.iorder = #{iorder}
        ORDER BY cdt DESC
    </select>

    <select id="selMaxPageVal" resultType="ResultVo">
        SELECT CEIL(COUNT(iorder) / ${recordCount}) AS result
        FROM t_order
        <if test="param == 'order'">
            WHERE rdt BETWEEN #{fromDate} AND date_add(#{toDate}, interval +1 day)
        </if>
        <if test="param == 'cancel'">
            WHERE cdt BETWEEN #{fromDate} AND date_add(#{toDate}, interval +1 day)
        </if>
        AND iuser = #{iuser}
    </select>

    <update id="updOrder">
        UPDATE t_order
        <set>
            <if test="param == 'orderChange'">
                order_status = #{order_status},
                cdt = now()
            </if>
            <if test="param == 'confirmOrder'">
                order_status = #{order_status}
            </if>
            <if test="param == 'refund'">
                order_status = #{order_status},
                pre_order_status = #{pre_order_status}
            </if>
            <if test="param == 'refundCancel'">
                order_status = #{order_status},
                cdt = null
            </if>
        </set>
        WHERE iorder = #{iorder}
        AND iuser = #{iuser}
    </update>
</mapper>