<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.admin.AdminMapper">
    <select id="selUserList" resultType="UserVo">
        SELECT A.iuser, A.uid, A.nm, A.email, c.a AS recent_price, SUM(result_price) AS result_price, B.rdt AS recent_rdt , A.rdt AS join_rdt, A.point
        FROM t_user A
        LEFT JOIN t_order B
        ON A.iuser = B.iuser
        LEFT JOIN (
        SELECT SUM(if(rdt BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW(), result_price, 0)) AS a, iuser
        FROM t_order
        GROUP BY iuser
        ) C
        ON A.iuser = C.iuser
        GROUP BY A.iuser
        LIMIT ${startIdx}, ${recordCount}
    </select>

    <select id="selectUserSearchList" resultType="UserVo">
        SELECT A.iuser, A.uid, A.nm, A.email, c.a AS recent_price, SUM(result_price) AS result_price, B.rdt AS recent_rdt , A.rdt AS join_rdt, A.point
        FROM t_user A
        LEFT JOIN t_order B
        ON A.iuser = B.iuser
        LEFT JOIN (
        SELECT SUM(if(rdt BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH) AND NOW(), result_price, 0)) AS a, iuser
        FROM t_order
        GROUP BY iuser
        ) C
        ON A.iuser = C.iuser
        GROUP BY A.iuser
        HAVING ${type} LIKE CONCAT('%', #{keyword}, '%')
        LIMIT ${startIdx}, ${recordCount}
    </select>

    <select id="selOrderList" resultType="OrderVo">
        SELECT A.iorder, A.rdt, B.nm, B.uid
        , A.spent_point, A.payment_way, A.order_status
        , A.result_price, C.idetail, E.nm AS detailNm, (count(E.nm) - 1) AS cnt
        FROM t_order A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        INNER JOIN t_order_product C
        ON A.iorder = C.iorder
        INNER JOIN t_product_detail D
        ON C.idetail = D.idetail
        INNER JOIN t_product_master E
        ON E.iproduct = D.iproduct
        GROUP BY B.iuser
    </select>

    <select id="selUserMaxPageVal" resultType="resultVo">
        SELECT CEIL(count(*) / ${recordCount}) AS result
        FROM t_user C
                 LEFT JOIN (
            SELECT A.iuser
            FROM t_user A
                     LEFT JOIN t_order B
                               ON A.iuser = B.iuser
            group by A.iuser
        ) D
                           on C.iuser = D.iuser
        where ${type} like concat('%', #{keyword}, '%')
    </select>
</mapper>