<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.admin.AdminMapper">
    <select id="selOrderList" resultType="OrderVo">
        SELECT A.iorder, A.rdt, B.nm, B.uid
             , A.spent_point, A.payment_way, A.order_status
             , A.result_price, C.idetail, E.nm AS detailNm, (count(E.nm) - 1) AS cnt
        FROM t_order A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        INNER JOIN t_order_product C
        ON A.iorder = C.iorder
        INNER JOIN t_product_detail D
        ON C.idetail = D.idetail
        INNER JOIN t_product_master E
        ON E.iproduct = D.iproduct
        GROUP BY B.iuser
    </select>
</mapper>