<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.admin.AdminMapper">
    <insert id="insGpu">
        INSERT INTO t_product_gpu
        (nm, performance, seq, brand)
        VALUES
        (#{nm}, ${performance}, ${seq}, #{brand})
    </insert>

    <insert id="insCpu">
        INSERT INTO t_product_cpu
        (nm, performance, inner_gpu, seq, brand)
        VALUES
        (#{nm}, ${performance}, ${inner_gpu}, ${seq}, #{brand})
    </insert>

    <select id="selGpu" resultType="GpuVo">
        SELECT *
        FROM t_product_gpu
        ORDER BY seq DESC, brand
    </select>

    <select id="selCpu" resultType="CpuVo">
        SELECT *
        FROM t_product_cpu
        ORDER BY seq DESC, brand
    </select>

    <select id="selGpuList" resultType="GpuVo">
        SELECT *
        FROM t_product_gpu
        <if test="select != null">
        WHERE ${select} LIKE CONCAT('%', #{search}, '%')
        </if>
        <if test="seq == 1">
            ORDER BY seq
        </if>
        <if test="seq == 2">
            ORDER BY seq DESC
        </if>
        <if test="perf == 1">
            ORDER BY performance
        </if>
        <if test="perf == 2">
            ORDER BY performance DESC
        </if>
    </select>

    <select id="selCpuList" resultType="CpuVo">
        SELECT *
        FROM t_product_cpu
        <if test="select != null">
            WHERE ${select} LIKE CONCAT('%', #{search}, '%')
        </if>
        <if test="seq == 1">
            ORDER BY seq
        </if>
        <if test="seq == 2">
            ORDER BY seq DESC
        </if>
        <if test="perf == 1">
            ORDER BY performance
        </if>
        <if test="perf == 2">
            ORDER BY performance DESC
        </if>
        <if test="inner_perf == 1">
            ORDER BY inner_gpu
        </if>
        <if test="inner_perf == 2">
            ORDER BY inner_gpu DESC
        </if>
    </select>
</mapper>