<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.admin.AdminMapper">
    <sql id="selPartsList">
        SELECT *
        FROM (
        SELECT *
        FROM ${parts}
        WHERE
        <choose>
            <when test="select != null">${select} LIKE CONCAT('%', #{search}, '%')</when>
            <otherwise>
                nm LIKE '%%'
                OR brand LIKE '%%'
            </otherwise>
        </choose>
        LIMIT ${startIdx}, ${rowCnt}) AS t
        <choose>
            <when test="typeNo == 1"> ORDER BY ${type} </when>
            <when test="typeNo == 2"> ORDER BY ${type} DESC </when>
        </choose>
    </sql>
    
    <insert id="insGpu">
        INSERT INTO t_product_gpu
        (nm, performance, seq, brand, is_inner_gpu)
        VALUES
        (#{nm}, ${performance}, ${seq}, #{brand}, #{is_inner_gpu})
    </insert>

    <insert id="insCpu">
        INSERT INTO t_product_cpu
        (nm, performance, inner_gpu, seq, brand)
        VALUES
        (#{nm}, ${performance}, ${inner_gpu}, ${seq}, #{brand})
    </insert>

    <select id="selGpuAll" resultType="GpuVo">
        SELECT *
        FROM t_product_gpu
        ORDER BY seq DESC, brand
    </select>

    <select id="selGpu" resultType="GpuVo">
        SELECT *
        FROM t_product_gpu
        WHERE is_inner_gpu = 'N'
        ORDER BY seq DESC, brand
    </select>

    <select id="selInnerGpu" resultType="GpuVo">
        SELECT *
        FROM t_product_gpu
        WHERE is_inner_gpu = 'Y'
        ORDER BY seq DESC, brand
    </select>
    
    <select id="selInnerGpuFromCpu" resultType="CpuVo">
        SELECT B.nm AS gpuNm, igpu
        FROM t_product_cpu A
        INNER JOIN t_product_gpu B
        ON A.inner_gpu = B.igpu
        WHERE icpu = ${icpu}
    </select>

    <select id="selInnerGpuPerformance" resultType="GpuVo">
        SELECT performance
        FROM t_product_gpu
        WHERE igpu = ${igpu}
    </select>

    <select id="getCpuPerformanceInCpu" resultType="CpuVo">
        SELECT performance
        FROM t_product_cpu
        WHERE icpu = ${icpu}
    </select>

    <select id="selCpu" resultType="CpuVo">
        SELECT *
        FROM t_product_cpu
        ORDER BY seq DESC, brand
    </select>

    <select id="selMaxPage" resultType="ResultVo">
        SELECT CEIL(COUNT(nm) / ${rowCnt}) AS result
        FROM ${parts}
        <where>
        <if test="search != null and search != '' or select != null and select != ''">
            ${select} LIKE CONCAT('%', #{search}, '%')
        </if>
        </where>
    </select>

    <select id="selCpuList" resultType="CpuVo">
        SELECT A.nm AS cpuNm, A.performance, B.nm AS gpuNm, A.seq, A.brand
        FROM t_product_cpu A
        INNER JOIN t_product_gpu B
        ON A.inner_gpu = B.igpu
        WHERE
        <choose>
            <when test="select != null">A.${select} LIKE CONCAT('%', #{search}, '%')</when>
            <otherwise>
                A.nm LIKE '%%'
                OR A.brand LIKE '%%'
            </otherwise>
        </choose>
        <choose>
            <when test="typeNo == 1"> ORDER BY A.${type} </when>
            <when test="typeNo == 2"> ORDER BY A.${type} DESC </when>
        </choose>
        LIMIT ${startIdx}, ${rowCnt}
    </select>

    <select id="selCpuDetail" resultType="CpuVo">
        SELECT *
        FROM t_product_cpu
        WHERE icpu = ${icpu}
    </select>

    <update id="updCpu">
        UPDATE t_product_cpu
        SET nm = #{nm}, performance = ${performance}, seq = ${seq}, inner_gpu = ${inner_gpu}, brand = #{brand}
        WHERE icpu = ${icpu}
    </update>

    <delete id="delCpu">
        DELETE FROM t_product_cpu
        WHERE icpu = ${icpu}
    </delete>

    <select id="selGpuList" resultType="GpuVo">
        <include refid="selPartsList"></include>
    </select>

    <select id="selGpuDetail" resultType="GpuVo">
        SELECT *
        FROM t_product_gpu
        WHERE igpu = ${igpu}
    </select>

    <update id="updGpu">
        UPDATE t_product_gpu
        SET nm = #{nm}, performance = ${performance}, seq = ${seq}, brand = #{brand}
        WHERE igpu = ${igpu}
    </update>

    <delete id="delGpu">
        DELETE FROM t_product_gpu
        WHERE igpu = ${igpu}
    </delete>

</mapper>