<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.admin.AdminMapper">
    <insert id="insProgram" useGeneratedKeys="true" keyProperty="iprogram" keyColumn="iprogram">
        INSERT INTO t_program
        (nm, required_cpu, required_gpu, required_ram, img, is_mac_sup)
        VALUES
        (#{nm}, ${required_cpu}, ${required_gpu}, ${required_ram}, #{img}, #{is_mac_sup})
    </insert>

    <select id="selProgramMaxPage" resultType="ResultVo">
        SELECT CEIL(COUNT(iprogram) / ${rowCnt}) AS result
        FROM t_program
        <if test="search != null">
            WHERE nm LIKE CONCAT('%', #{search}, '%')
        </if>
    </select>

    <select id="selProgramList" resultType="ProgramVo">
        SELECT *
        FROM(
        SELECT *
        FROM t_program
        WHERE nm LIKE CONCAT('%', #{search}, '%')
        LIMIT ${startIdx}, ${rowCnt}) AS t
        <choose>
            <when test="typeNo == 1">
                    ORDER BY ${type}
            </when>
            <when test="typeNo == 2">
                    ORDER BY ${type} DESC
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="selProgramDetail" resultType="ProgramVo">
        SELECT *
        FROM t_program
        WHERE iprogram = ${iprogram}
    </select>

    <update id="updProgram">
        UPDATE t_program
        SET
            nm = #{nm}, required_cpu = ${required_cpu}, required_gpu = ${required_gpu}
            , required_ram = ${required_ram}, is_mac_sup = #{is_mac_sup}
          <if test="img != null and img != ''">
            ,  img = #{img}
          </if>
        WHERE iprogram = ${iprogram}
    </update>

    <delete id="delProgram">
        DELETE FROM t_program
        WHERE iprogram = ${iprogram}
    </delete>
</mapper>