#monthChart{
    width:1000px !important;
    height:400px !important;
}
#brandDemand  {
    width:450px !important;
    height:300px !important;
}
#thisMonthChart {
    width:450px !important;
    height:300px !important;
}
.brandDiv {
    display: flex;
    justify-content: space-between;
}
.brandDiv > div > h1 {
    text-align: center;
}
#monthChart {
    border: 1px solid;
}
#brandDemand {
    border: 1px solid;
}
#thisMonthChart {
    border: 1px solid;
}
.admin-main-container > h1{
    text-align: center;
}
.manage-table {
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
    border-top: 3px solid black;
}
.manage-table span { color: #868686; width: 100%;}
.manage-table p { text-align: right; font-weight: bolder; margin-top: 10px;}
.manage-table td {
    border: 1px solid black;
    width: 150px;
    height: 100px;
    padding: 20px;
}
.manageflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manageflex > div {
    margin-bottom: 100px;
}