.product-searchArea > form {
    display: flex;
    gap: 10px;
}

nav {
    text-align: center;
}

#searchText {
    background-color: transparent;
}

.product-searchArea {
    margin-bottom: 10px;
}

.textArea {
    text-align: center;
    width: 250px;
    border: 1px solid black;
}

.cspointer:hover { cursor: pointer; background-color: #e1e1e1; }






