.adm-con01 {
    width: calc(100% - 310px);
}

.frmDiv {
    margin-bottom: 20px;
}

#detail-container {
    padding-top: 10px;
    margin-top: 10px;
}

.frmDiv > div {
    margin-bottom: 20px;
}

.frmDiv > div > select {
    width: calc(100% - 135px);
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    text-align: right;
    padding: 0 10px;
}

#detail-container > div > div {
    margin-bottom: 20px;
}

#detail-list-container {
    border-top: 1px solid;
    padding-top: 20px;
}

#ins-before-div > div > div {
    margin-bottom: 20px;
}
#detail-list-container > div > div {
    margin-bottom: 20px;
}

#detail-list-container > div > div:last-child {
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

.utils-container {
    display: flex;
    justify-content: space-between;
}
.inv-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inv-name {
    width: 135px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}
.inv-box input {
    width: calc(100% - 135px);
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    text-align: right;
    padding: 0 10px;
}

.button-mg-reset {
    margin: 0px !important;
}

.frmDiv input[type='button'] {
    width: auto;
    height: auto;
}

#repre-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dis-none {
    display: none;
}
.inv-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 135px);
}
.file-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.file-set {
    font-size: 0;
}

.file-set input[type='button'] {
    margin: 0;
}