.program {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    gap: 20px;
}

.utils-container {
    display: flex;
    justify-content: space-between;
}

/* programList */
.searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frow > i {
    cursor: pointer;
}

.program-list-tr:hover {
    cursor: pointer;
    background-color: #e3e3e3;
}

.input > div {
    min-width: 120px;
}