<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="admin_header">
    <header>
        <div class="fc">
            <div class="ui container h37">
                <button class="tiny ui button bgwhite h100p">돌아가기</button>
            </div>
        </div>
    </header>
</th:block>

<th:block th:fragment="admin_menu">
    <span ></span>
    <div class="fc">
        <h4 class="bbgrey pb15">관리자 페이지</h4>
        <div class="ui vertical text menu">
            <div class="header item">메인</div>
            <a class="item fs12 pl10" href="/admin/main" th:classappend="${uri} == 'main' ? 'active' : ''">
                - 현황보기
            </a>

            <div class="header item">회원</div>
            <a class="item fs12 pl10" href="/admin/user" th:classappend="${uri} == 'user' ? 'active' : ''">
                - 회원목록
            </a>
            <a class="item fs12 pl10" href="/admin/userinfo" th:classappend="${uri} == 'userinfo' ? 'active' : ''">
                - 회원상세정보
            </a>
        </div>
        <div class="ui vertical text menu">
            <div class="header item">주문</div>
            <a class="item fs12 pl10" >
                - 주문목록
            </a>
            <a class="item fs12 pl10">
                - 주문상세정보
            </a>
        </div>
        <div class="ui vertical text menu">
            <div class="header item">상품</div>
            <a class="item fs12 pl10">
                - 상품목록
            </a>
            <a class="item fs12 pl10">
                - 상품등록
            </a>
        </div>
        <div class="ui vertical text menu">
            <div class="header item">CPU/GPU</div>
            <a class="item fs12 pl10">
                - CPU 목록
            </a>
            <a class="item fs12 pl10">
                - CPU 등록
            </a>
            <a class="item fs12 pl10">
                - GPU 목록
            </a>
            <a class="item fs12 pl10">
                - GPU 등록
            </a>
        </div>
        <div class="ui vertical text menu">
            <div class="header item">프로그램</div>
            <a class="item fs12 pl10">
                - 프로그램목록
            </a>
            <a class="item fs12 pl10">
                - 프로그램등록
            </a>
        </div>
        <div class="ui vertical text menu pb50">
            <div class="header item">고객센터</div>
            <a class="item fs12 pl10">
                - 질의응답하러가기
            </a>
        </div>
    </div>
</th:block>
</html>