<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitbook.user.PointMapper">
    <select id="selMaxPageVal" resultType="ResultVo">
        SELECT CEIL(COUNT(ipoint) / ${recordCount}) AS result
        FROM t_point
        WHERE iuser = #{iuser}
    </select>
    <select id="selPointHistoryList" resultType="PointEntity">
        SELECT reason, changed_point, rdt
        FROM t_point
        WHERE iuser = #{iuser}
        ORDER BY ipoint DESC
        LIMIT ${startIdx}, ${recordCount}
    </select>
    <insert id="insPointHistoryByOrderDto">
        INSERT INTO t_point
            (iuser, changed_point, reason)
        VALUES
            (#{iuser}, #{spent_point}, #{reason})
    </insert>
    <insert id="insPointHistory">
        INSERT INTO t_point
            (iuser, changed_point, reason)
        VALUES
            (#{iuser}, #{changed_point}, #{reason})
    </insert>
</mapper>