<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script defer th:src="@{/js/mainpage.js}"></script>
    <title></title>
</head>

<body>
<th:block layout:fragment="content">
    <main id="data" class="btgrey"
          th:data-iuser="${user.iuser}">
        <div class="ui center aligned container">
            <div class="fc mt100">
                <div><strong class="fs20">RECOMMENDED PRODUCT</strong></div>
                <ul id="recommendedUl" class="ulfl p0">
                    <div class="fc gap20 mt50" th:if="${recommended} == null">
                        <div class="fs50"><i class="compass outline icon"></i></div>
                        <div class="ui fs14">아직 선호도를 검사하지 않으셨네요.<br>간단한 질문들을 통해 나에게 맞는 노트북을 찾아주는 <b>FIT!</b> 서비스를
                            이용해보세요.
                        </div>
                        <div>
                            <a href="/fit/question">
                                <button class="ui secondary tiny button">FIT!</button>
                            </a>
                        </div>
                    </div>
                    <li class="fc w300 product hp mlr10 pl" th:if="${recommended} != null" th:each="item : ${recommended}">
                        <div class="data" th:data-iproduct="${item.iproduct}">
                            <img class="w250"
                                 th:src="@{${'/imgPath/products/detail/' + item.idetail + '/' + item.detailImg}}">
                        </div>
                        <div class="fs13" th:text="${item.brand} + ' ' + ${item.nm}"></div>
                        <div class="fs12 cgrey" th:text="${item.product_code}"></div>
                        <div class="fs12 cgrey" th:text="${item.cpuNm} +  ' / ' + ${item.ram} + 'GB' + (${item.is_inner_gpu == 'Y' ? '' : ' / ' + item.gpuNm})"></div>
                        <div class="fs12 mt10 tdlt cgrey"
                             th:text="${#numbers.formatInteger(item.originalPrice, 0, 'COMMA')} + '원'"></div>
                        <div class="fs13" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} + '원'"></div>
                        <div class="mt10">
                            <span id="likeBtn" class="like fs12 hp mlr10 cb0_5">
                                <i id="likeI" class="like icon"></i> <span id="likeSpan"></span>
                            </span>
                            <span id="ratingBtn" class="star fs12 hp mlr10 cb0_5">
                                <i id="starI" class="star icon"></i> <span id="starSpan"></span>
                            </span>
                            <span class="mlr10 temper" data-tooltip="나에게 얼마나 적합한 제품인지를 보여줘요." data-variation="mini">
                            <i class="fire icon cb0_5"></i>
                            <span class="fs12 cred" th:text="${item.fitness == -1 ? '?' : item.fitness} + '°'"></span></span>
                        </div>
                    </li>
                </ul>
                <div class="mt10">
                    <button id="recommendedMoreBtn" class="ui basic button fs12 pr12" th:if="${recommended} != null">더보기<span class="ml5"><i
                            class="angle down icon mr0"></i></span></button>
                </div>
            </div>
            <div class="fc mt100">
                <div><strong class="fs20">BEST PRODUCT</strong></div>
                <ul id="bestUl" class="ulfl p0">
                    <li class="fc w300 product hp mlr10 pl" th:each="item : ${best}">
                        <div class="data" th:data-iproduct="${item.iproduct}">
                            <img class="w250"
                                 th:src="@{${'/imgPath/products/detail/' + item.idetail + '/' + item.detailImg}}">
                        </div>
                        <div class="fs13" th:text="${item.brand} + ' ' + ${item.nm}"></div>
                        <div class="fs12 cgrey" th:text="${item.product_code}"></div>
                        <div class="fs12 cgrey" th:text="${item.cpuNm} +  ' / ' + ${item.ram} + 'GB' + (${item.is_inner_gpu == 'Y' ? '' : ' / ' + item.gpuNm})"></div>
                        <div class="fs12 mt10 tdlt cgrey"
                             th:text="${#numbers.formatInteger(item.originalPrice, 0, 'COMMA')} + '원'"></div>
                        <div class="fs13" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} + '원'"></div>
                        <div class="mt10">
                            <span id="likeBtn" class="like fs12 hp mlr10 cb0_5">
                                <i id="likeI" class="like icon"></i> <span id="likeSpan"></span>
                            </span>
                            <span id="ratingBtn" class="star fs12 hp mlr10 cb0_5">
                                <i id="starI" class="star icon"></i> <span id="starSpan"></span>
                            </span>
                            <span class="mlr10 temper" data-tooltip="나에게 얼마나 적합한 제품인지를 보여줘요." data-variation="mini">
                            <i class="fire icon cb0_5"></i>
                            <span class="fs12 cred" th:text="${item.fitness == -1 ? '?' : item.fitness} + '°'"></span></span>
                        </div>
                    </li>
                </ul>
                <div class="mt10">
                    <button id="bestMoreBtn" class="ui basic button fs12 pr12">더보기<span class="ml5"><i
                            class="angle down icon mr0"></i></span></button>
                </div>
            </div>
            <div class="fc mt100">
                <div><strong class="fs20">NEW PRODUCT</strong></div>
                <ul id="newUl" class="ulfl p0">
                    <li class="fc w300 product hp mlr10 pl" th:each="item : ${newList}">
                        <div class="data" th:data-iproduct="${item.iproduct}">
                            <img class="w250"
                                 th:src="@{${'/imgPath/products/detail/' + item.idetail + '/' + item.detailImg}}">
                        </div>
                        <div class="fs13" th:text="${item.brand} + ' ' + ${item.nm}"></div>
                        <div class="fs12 cgrey" th:text="${item.product_code}"></div>
                        <div class="fs12 cgrey" th:text="${item.cpuNm} +  ' / ' + ${item.ram} + 'GB' + (${item.is_inner_gpu == 'Y' ? '' : ' / ' + item.gpuNm})"></div>
                        <div class="fs12 mt10 tdlt cgrey"
                             th:text="${#numbers.formatInteger(item.originalPrice, 0, 'COMMA')} + '원'"></div>
                        <div class="fs13" th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')} + '원'"></div>
                        <div class="mt10">
                            <span id="likeBtn" class="like fs12 hp mlr10 cb0_5">
                                <i id="likeI" class="like icon"></i> <span id="likeSpan"></span>
                            </span>
                            <span id="ratingBtn" class="star fs12 hp mlr10 cb0_5">
                                <i id="starI" class="star icon"></i> <span id="starSpan"></span>
                            </span>
                            <span class="mlr10 temper" data-tooltip="나에게 얼마나 적합한 제품인지를 보여줘요." data-variation="mini">
                            <i class="fire icon cb0_5"></i>
                            <span class="fs12 cred" th:text="${item.fitness == -1 ? '?' : item.fitness} + '°'"></span></span>
                        </div>
                    </li>
                </ul>
                <div class="mt10">
                    <button id="newMoreBtn" class="ui basic button fs12 pr12">더보기<span class="ml5"><i
                            class="angle down icon mr0"></i></span></button>
                </div>
            </div>
        </div>
    </main>
</th:block>
</body>

</html>