<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="mypage/temp/mypage_layout">
<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/mypage/favoritelist.js}"></script>
    <title></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="fr1">
        <div class="fr1">
            <h3>좋아요한 상품</h3>
            <table class="mytable w100p mt30">
                <colgroup>
                    <col width="5%">
                    <col width="40%">
                    <col width="10%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <tr>
                    <th><div class="ui checkbox" id="allChk"><input type="checkbox"><label></label></div></th>
                    <th>상품 정보</th>
                    <th>상품 금액</th>
                    <th>할인/적립</th>
                    <th>결제 예정 금액</th>
                </tr>
                <tbody id="tbody"></tbody>
            </table>
            <div>
                <button id="delBtn" class="ui mini basic button mt10 ml10">선택 상품 삭제</button>
                <button id="cartBtn" class="ui mini basic button mt10">선택 상품 장바구니 담기</button>
            </div>
            <div class="w100p tact">
                <div class="ui pagination tiny menu mt50" id="searchPagination">
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>
</body>
</html>