<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="admin_header">
    <header th:with="url = ${#strings.substring(#httpServletRequest.requestURI, 7)}">
        <div class="fc">
            <div class="ui container h37">
                <a th:href="@{/}"><button class="tiny ui button bgwhite h100p">돌아가기</button></a>
                <a th:href="@{/admin/main}"><button class="tiny ui button bgwhite h100p" th:classappend="${url} == 'main' ? 'active' : ''">메인</button></a>
            </div>
        </div>
    </header>
</th:block>

<th:block th:fragment="admin_menu" th:with="url = ${#strings.substring(#httpServletRequest.requestURI, 7)}">
    <div class="fc">
        <h4 class="bbgrey pb15">관리자 페이지</h4>
        <div class="ui vertical text menu">
            <div class="header item">목록</div>
            <a class="item fs12 pl10" href="/admin/user" th:classappend="${url} == 'user' ? 'active' : ''">
                - 회원 목록
            </a>
            <a class="item fs12 pl10" href="/admin/order" th:classappend="${url} == 'order' ? 'active' : ''">
                - 주문 목록
            </a>
            <a class="item fs12 pl10" href="/admin/product_master" th:classappend="${url} == 'product_master' ? 'active' : ''">
                - 상품 목록
            </a>
            <a class="item fs12 pl10" href="/admin/gpuList" th:classappend="${url} == 'gpuList' ? 'active' : ''">
                - GPU 목록
            </a>
            <a class="item fs12 pl10" href="/admin/cpuList" th:classappend="${url} == 'cpuList' ? 'active' : ''">
                - CPU 목록
            </a>
            <a class="item fs12 pl10" href="/admin/programList" th:classappend="${url} == 'programList' ? 'active' : ''">
                - 프로그램 목록
            </a>
        </div>
        <div class="ui vertical text menu">
            <div class="header item">등록</div>
            <a class="item fs12 pl10" href="/admin/insproduct" th:classappend="${url} == 'insproduct' ? 'active' : ''">
                - 상품 등록
            </a>
            <a class="item fs12 pl10" href="/admin/cpu" th:classappend="${url} == 'cpu' ? 'active' : ''">
                - CPU 등록
            </a>
            <a class="item fs12 pl10" href="/admin/gpu" th:classappend="${url} == 'gpu' ? 'active' : ''">
                - GPU 등록
            </a>
            <a class="item fs12 pl10" href="/admin/program" th:classappend="${url} == 'program' ? 'active' : ''">
                - 프로그램 등록
            </a>
        </div>
        <div class="ui vertical text menu pb50">
            <div class="header item">고객센터</div>
            <a class="item fs12 pl10" href="/admin/qna" th:classappend="${url} == 'qna' ? 'active' : ''">
                - 질의응답
            </a>
        </div>
    </div>
</th:block>
</html>