<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <header>
        <div class="fc">
            <div class="ui right aligned container h37">
                <div sec:authorize="isAuthenticated()" class="h100p">
                    <a th:href="@{/user/logout}"><button class="tiny ui button bgwhite h100p">로그아웃</button></a>
                    <a sec:authorize="!hasRole('ROLE_ADMIN')"><button class="tiny ui button bgwhite h100p">장바구니</button></a>
                    <a sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/mypage/orderlist}"><button class="tiny ui button bgwhite h100p">마이페이지</button></a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/main}"><button class="tiny ui button bgwhite h100p">관리자 페이지</button></a>
                </div>
                <div sec:authorize="!isAuthenticated()" class="h100p">
                    <a th:href="@{/user/login}"><button class="tiny ui button bgwhite h100p">로그인</button></a>
                    <a th:href="@{/user/join}"><button class="tiny ui button bgwhite h100p">회원가입</button></a>
                </div>
            </div>
            <div class="ct h122 btgrey headerDiv">
                <h1>fitBook</h1>
                <div>
                    <div class="ui tiny action input ml260 w200">
                        <input type="text" placeholder="제품 검색" class="w200">
                        <button class="ui tiny secondary icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ui center aligned container h42">
                <button class="medium ui button bgwhite mlr30 h100p">HOME</button>
                <button class="medium ui button bgwhite mlr30">NEW</button>
                <button class="medium ui button bgwhite mlr30">BEST</button>
                <button class="medium ui button bgwhite mlr30">SHOP</button>
                <button class="medium ui button bgwhite mlr30">FIT!</button>
                <button id="noticeBtn" class="medium ui button bgwhite mlr30">NOTICE</button>
            </div>
        </div>
    </header>
</th:block>

<th:block th:fragment="footer">
    <footer class="btgrey mt100">
        <div class="ui vertical footer padded segment">
            <div class="ui left aligned container fs12">
                <p>fitBook</p>
                <p>Kim Min-jae, Kim Gyu-Hyeongm, Kim Dong-gyu, Yu Eon-su</p>
            </div>
        </div>
    </footer>
</th:block>
</html>